<!DOCTYPE html>

<html>

    <head>
    
        <title>Entri Penolakan</title>
        
        <meta charset='utf-8'>
        
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

        <style>
            
            body {
                font-family: sans-serif;
                margin: 0px;
            }
            
            tr>th {
                background-color: #aaaaaa;
                color: black;
            }
            
            .row {
                background-color: white;
            }
            
            .selected {
                background-color: #eb8a1b;
            }

        </style>
        
    </head>
    
    <body>
    
        <div style='background-color: #dddddd; width:800px; height:530px; padding: 5px; padding-top: 10px; padding-right: 0px;'>
            
            <div style='background-color: #173169; margin:0px; margin-bottom:10px; height:46px;'>
                <h1 style='color:white; margin:0px; float:left; margin:5px;'>ENTRI PENOLAKAN</h1>
                <img src="../static/img/sun.png" style='float:right; margin:0px;'/>
            </div>
            
            <div style='width:795px; height:145px;'> <!--what!-->
                
                <div style='float:left; width:655px; margin:0px;'>
                    <div style='float:left; width:655px;'>
                        <div style='float:left; width:655px; padding:5px;'>
                            <p style='width:100px; margin:0px; padding-top:2px; float:left; height:21px;'><b>Tanggal: </b></p>
                            <input id='inp_tanggal' type='date' style='float:left; width:184px;'/>
<!--
                            <p style='width:100px; margin:0px; padding-top:2px; padding-left:5px; float:left; height:21px;'><b>(mm/dd/yyyy)</b></p>
-->
                        </div>
                    </div>
                    
                    <div style='float:left; width:655px; padding:5px;'>
                        <p style='width:100px; margin:0px; padding-top:2px; float:left; height:21px;'><b>Nama Obat: </b></p>
                        <input id='inp_kodeobat' type='text' style='display:none;'/>
                        <input id='inp_namaobat' type='text' style='float:left; width:516px;' />
                    </div> 
                    
                    <div style='float:left; width:655px;'>
                        <div style='float:left; width:318px; padding:5px;'>
                            <p style='width:100px; margin:0px; padding-top:2px; float:left; height:21px;'><b>Satuan: </b></p>
                            <input id='inp_satuan' type='text' style='float:left; width:170px;'/>
                        </div>
                        <div style='float:left; width:313px; padding:5px;'>
                            <p style='width:100px; margin:0px; padding-top:2px; margin-left:18px; float:left; height:21px;'><b>HNAPPN: </b></p>
                            <input id='inp_hnappn' type='text' style='float:left; width:170px;'/>
                        </div>
                    </div> 
                    
                    <div style='float:left; width:655px;'>
                        <div style='float:left; width:318px; padding:5px;'>
                            <p style='width:100px; margin:0px; padding-top:2px; float:left; height:21px;'><b>Qty: </b></p>
                            <input id='inp_qty' type='text' style='float:left; width:170px;'/>
                        </div>
                        <div style='float:left; width:313px; padding:5px;'>
                            <p style='width:100px; margin:0px; padding-top:2px; margin-left:18px; float:left; height:21px;'><b>Jenis Trx: </b></p>
                            <input id='inp_jenistrx' type='text' style='float:left; width:170px;' readonly='readonly'/>
                        </div>
                    </div> 
                    
                </div>
                
                <div style='float:left; width:130px; height:116px; margin:0px; padding:5px;'>
                    <button id='entri' style='color: black; background-color: #aaaaaa; width:120px; height:60px; margin-left:5px; text-align:center;'><b>Entri</b></button>
                    <button id='batal' style='color: black; background-color: #aaaaaa; width:120px; height:60px; margin-left:5px; margin-top:2px; text-align:center;'><b>Batal</b></button>
                </div>
            </div>
            <div>
                <table style='width:794px;'>
                    <tr>
                        <th><div style='width:56px;'>No.</div></th>
                        <th><div style='width:336px;'>Nama Obat</div></th>
                        <th><div style='width:86px;'>Satuan</div></th>
                        <th><div style='width:76px;'>Qty</div></th>
                        <th><div style='width:96px;'>HNAPPN</div></th>
                        <th><div style='width:96px;'>Jenis Trx</div></th>
                        <th><div style='width:18px;'></div></th>
                    </tr>
                </table>
                
                <div id='tab_rows' style='height:220px; width:793px; overflow:scroll;'></div>
            </div>
            <div style='padding:5px;'>
                <button id='simpan' style='color: black; background-color: #aaaaaa; width:120px; height:40px; margin-right:5px; margin-top:2px; text-align:center; float:right;'><b>Simpan</b></button>
                <button id='hapus' style='color: black; background-color: #aaaaaa; width:120px; height:40px; margin-right:5px; margin-top:2px; text-align:center; float:right;'><b>Hapus</b></button>                
            </div>
        </div>
        <script src='../static/js/index.js'></script>
    </body>
</html>
